@import './../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables';
@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";

:host {
  --ds-auro-popover-boxshadow-color: var(--ds-elevation-200, #{$ds-elevation-200});
  --ds-auro-popover-container-color: var(--ds-basic-color-surface-default, #{$ds-basic-color-surface-default});
  --ds-auro-popover-text-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
}
